body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    min-height: 2000px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #007BFF;
    text-align: center;
    padding: 10px 0;
}

.marquee {
    color: #fff;
    font-size: 18px;
}

.sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    min-height: calc(100vh - 100px);
    padding-top: 20px;
    float: left;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #444;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li:hover {
    background-color: #444;
}

.dishoboard-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
}

.footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.login-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}